.App {
  text-align: center;
}

/* ------------ Home page -------------- */
.page--header {
  text-align: left;
  padding: 1%;
  margin: 0;
  padding-left: 2%;
  text-transform: uppercase;
}

.navbar {
  position: relative;
  border: 2px solid black;
  border-radius: 6px;
}

.navbar--links {
  display: flex;
  gap: 1%;
  margin: 0;
}

.navbar--links-button {
  margin: 6px;
}

.login--button {
  position: absolute;
  top: 1%;
  right: 1%;
}
.article--list-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex-wrap: nowrap;
}
.article--list {
  list-style: none;
  display: grid;
  grid-row: auto;
  row-gap: 10px;
  padding-right: 4%;
}

.article--item {
  border: 1px black solid;
  text-align: left;
  padding-left: 1%;
  cursor: pointer;
}

@media only screen and (max-width: 420px) {
  .article--list-item-header {
    font-size: 14px;
  }
  .article--list-box {
    display: flex;
    flex-direction: column;
  }
}

/* ----------- Single Article Page ------------ */

.article-box {
  border: 2px grey solid;
  padding-bottom: 2%;
  max-width: 97%;
  margin: auto;
  margin-top: 2%;
}
.article-header {
  width: 95%;
  margin: auto;
  margin-top: 10px;
  text-align: left;
}

.article-header-text {
  margin-bottom: 2px;
}

.article-author {
  font-weight: 700;
  margin: 0;
}

.article-topic {
  font-weight: 700;
  margin: 0;
}

.article-created-at {
  font-weight: 700;
  margin: 0;
}

.article-comment-count {
  font-weight: 700;
  margin: 0;
}

.article-body {
  border: 2px black solid;
  box-shadow: 0px 0px 16px 4px black;
  max-width: 95%;
  margin: auto;
  margin-top: 2%;
}

.article-body-text {
  max-width: fit-content;
  padding: 20px;
}
